{% extends "auxbase.html" %}

{% block title %}Events{% endblock %}

{% block content %}
<h2 class="event-head">Events</h2>

<p>
Chess: 
Every Thursday from 7:30-9:30pm in Student Center
</p>

<p>
Airsoft: 
Every sunday at 2:00-6:00pm behind LifeChurch Ruston
</p>


<p>
Esports: 
Monday-Friday from 2:00PM - 12:00AM in the esports center upstairs of the student center
</p>


<p>
XA:
    <ul> 
        <li>Pre-service May 9 at 6:30pm at GTM</li>
        <li>Service at GTM 105 May 9 at 7pm</li>
        <li>Game Night at 710 Tech Dr May 10 at 7pm</li>
        <li>Contact Evangelism May 15 at L Booth in Student center from 11-12</li>
        <li>Picnic May 15 at 12pm at Quad</li>
        <li>Service at GTM 105 May 16 at 7pm</li>
        <li>Free food Friday at 710 Tech Dr on May 17 at 6pm</li>
    </ul>
</p>

<p>
BCM:
    <ul>
        <li>ELEVATE is every Tuesday at the BCM at 7:00 PM</li>
        <li>Soul Food - Every Tuesday, from 11:30 am – 1:00 pm</li>
    </ul>
</p>

<p>
ACTS:
<br> 
Weekly schedule:
    <ul>
        <li>Tuesday – 8:15am</li>
        <li>Wednesday – 9pm</li>
        <li>Thursday – 8:15am</li>
        <li>Friday – Noon</li>
        <li>Saturday – 5pm</li>
        <li>Sunday – 9:30am, 1:30pm Spanish, 7pm</li>
    </ul>
</p>

<p>
Baseball:
    <ul> 
        <li>May 10 at 6pm Home</li>
        <li>May 11 at 2pm Home</li>
        <li>May 12 at 1pm Home</li>
        <li>May 16 at 5pm Lynchburg, VA</li>
        <li>May 17 at 3pm Lynchburg, VA</li>
        <li>May 18 at 12pm Lynchburg, VA</li>
        <li>May 22 at NA Home</li>
        <li>May 23 at NA Home</li>
        <li>May 24 at NA Home</li>
        <li>May 25 at NA Home</li>
        <li>May 26 at NA Home</li>
    </ul>
</p>

<p>
Basketball: 
None to be announced at the moment
</p>

<p>
Football: 
None to be announced at the moment
</p>

<p>
Soccer: 
None to be announced at the moment
</p>

<p>
ACE: 
None to be announced at the moment
</p>

<p>
WCE: 
None to be announced at the moment
</p>

<p>
Engineering and Science Association: 
None to be announced at the moment
</p>

{% endblock %}