{% extends "appbase.html" %}

{% block content %}
    <h2>{% block title %}Campus Clubs{% endblock %}</h2>
    <div class="club-container">
        {# {% for club in clubs %} #}
            <div class="club-card">
                <img src="https://placehold.co/262x167" alt="Placeholder" class="club-image">
                {# <h2>{{ club.name }}</h2> #}
            </div>
            <div class="club-card">
                <img src="https://placehold.co/262x167" alt="Placeholder" class="club-image">
                {# <h2>{{ club.name }}</h2> #}
            </div>
            <div class="club-card">
                <img src="https://placehold.co/262x167" alt="Placeholder" class="club-image">
                {# <h2>{{ club.name }}</h2> #}
            </div>
            <div class="club-card">
                <img src="https://placehold.co/262x167" alt="Placeholder" class="club-image">
                {# <h2>{{ club.name }}</h2> #}
            </div>
            <div class="club-card">
                <img src="https://placehold.co/262x167" alt="Placeholder" class="club-image">
                {# <h2>{{ club.name }}</h2> #}
            </div>
            <div class="club-card">
                <img src="https://placehold.co/262x167" alt="Placeholder" class="club-image">
                {# <h2>{{ club.name }}</h2> #}
            </div>
        {# {% endfor %} #}
    </div>

{% endblock %}