{% extends "appbase.html" %}

{% block content %}
    <h2>{% block title %}Select Some things you are interested in{% endblock %}</h2>
    <ul>
        <p class="lab1"> Select at least one:</p>
        <form id="interest-form" method="post">
            <fieldset>
                <legend>Sports</legend>
                <input type="checkbox" id="football" name="sports" value="Football">
                <label for="football">Football</label><br>
                <input type="checkbox" id="baseball" name="sports" value="Baseball">
                <label for="baseball">Baseball</label><br>
                <input type="checkbox" id="basketball" name="sports" value="Basketball">
                <label for="basketball">Basketball</label><br>
                <input type="checkbox" id="soccer" name="sports" value="Soccer">
                <label for="soccer">Soccer</label>
            </fieldset>
            <fieldset>
                <legend>Ministries</legend>
                <input type="checkbox" id="Chi Alpha (XA)" name="ministries" value="Chi Alpha (XA)">
                <label for="Chi Alpha (XA)">Chi Alpha (XA)</label><br>
                <input type="checkbox" id="Association of Catholic Tech Students (ACTS)" name="ministries" value="Association of Catholic Tech Students (ACTS)">
                <label for="Association of Catholic Tech Students (ACTS)">Association of Catholic Tech Students (ACTS)</label><br>
                <input type="checkbox" id="Baptist College Ministry (BCM)" name="ministries" value="Baptist College Ministry (BCM)">
                <label for="Baptist College Ministry (BCM)">Baptist College Ministry (BCM)</label>
            </fieldset>
            <fieldset>
                <legend>STEM Clubs</legend>
                <input type="checkbox" id="Engineering and Science Association" name="stem" value="Engineering and Science Association">
                <label for="Engineering and Science Association">Engineering and Science Association</label><br>
                <input type="checkbox" id="Society of Women Engineers" name="stem" value="Society of Women Engineers">
                <label for="Society of Women Engineers">Society of Women Engineers</label><br>
                <input type="checkbox" id="Association of Cyber Engineers" name="stem" value="Association of Cyber Engineers">
                <label for="Association of Cyber Engineers">Association of Cyber Engineers</label>
            </fieldset>
            <fieldset>
                <legend>Clubs</legend>
                <input type="checkbox" id="Esports" name="recreation" value="Latech Esports">
                <label for="Esports">Esports</label><br>
                <input type="checkbox" id="Chess Club" name="recreation" value="Chess Club">
                <label for="Chess">Chess Club</label><br>
                <input type="checkbox" id="Louisiana Tech Airsoft Organization" name="recreation" value="Louisiana Tech Airsoft Organization">
                <label for="Louisiana Tech Airsoft Organization">Louisiana Tech Airsoft Organization</label>
            </fieldset>
            <input class='interest-sub' type="submit" value="Submit">
        </form>
    </ul>
{% endblock %}
