<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="An app that uses your interest to get you involved around the campus of Louisiana Tech.">
        <meta name="author" content="Kaleb McHenry, Simeon McFarland, Samuel Cook">
        <meta name="robots" content="index, follow">
        <title>{% block title %}{% endblock %} - TechConnect</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
        <script>
            window.onclick = (event) => {
                if (!event.target.matches('.profile-icon')) {
                    let dropdowns = document.getElementsByClassName('profile-dropdown')
                    for (let i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.style.display === 'block') {
                            openDropdown.style.display = 'none';
                        }
                    }
                }
            }
        </script>

    </head>

    <body>
        <nav>
            <div class="logo-container">
                <img img="tech-logo.gif" alt="placeholder" width="55" height="55">
            </div>
            <h1 class="navheader">TechConnect</h1>
            <div class="profile-icon">
                <img src="" alt="Profile" width="50" height="50">
                <div class="profile-dropdown">
                    <a href="#">My Profile</a>
                    <a href="#">Logout</a>
                </div>
            </div>
	    </nav>

        <header class="welcome">Welcome, {{ username }} </header>

        {# {% for message in get_flashed_messages() %}
		    <div class="flash">{{ message }}</div>
	    {% endfor %} #}

        {% block content %}{% endblock %}
    </body>

</html>