<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="An app that uses your interest to get you involved around the campus of Louisiana Tech.">
        <meta name="author" content="Kaleb McHenry, Simeon McFarland, Samuel Cook">
        <meta name="robots" content="index, follow">
        <title>{% block title %}{% endblock %} - TechConnect</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        {# <script></script> #}
    </head>

    <body>
        <nav>
            <div class="logo-container">
                <img src="{{ url_for('static', filename='img/tech-logo.gif') }}" alt="Techconnect Logo" width="55" height="55">
            </div>
            <h1 class="navheader"><a href="{{ url_for('home.home')}}">TechConnect</a></h1>
            <div class="profile-dropdown">
                <input type="checkbox" id="profile-checkbox">
                <label for="profile-checkbox">
                    <img src="{{ url_for('static', filename='img/icons8-acc.png')}}" alt="Profile" class="profile-icon">
                </label>
                <div id="dropdown-content">
                    <a href="{{ url_for('profile.profile')}}">My Profile</a>
                    <a href="{{ url_for('auth.logout') }}">Logout</a>
                </div>
            </div>
	    </nav>

        {# {% for message in get_flashed_messages() %}
		    <div class="flash">{{ message }}</div>
	    {% endfor %} #}

        {% block content %}{% endblock %}
    </body>

</html>