<!DOCTYPE HTML>
    <html>
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <meta name="description" content="An app that uses your interest to get you involved around the campus of Louisiana Tech.">
            <meta name="author" content="Kaleb McHenry, Simeon McFarland, Samuel Cook">
            <meta name="robots" content="index, follow">
            <title>{% block title %}{% endblock %} - TechConnect</title>

        </head>
        <body>
            
        </body>
    </html>